<!doctype html>
<html lang="en">

<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../partials/nav.ejs %>
  
    <h1>  <%= title %></h1>
    
    <p>bla... bla... bla...</p>

   
  <% include ../partials/footer.ejs %>
  
  </body>
</html>
