<!doctype html>
<html lang="en">

  
  
  

<head>
  <% include ../partials/header2.ejs %>
</head>

<body>
  <% include ../partials/nav4.ejs %>

 
  
    <h1>  <%= title %></h1>
    
    <p>bla... bla... bla...</p>

   
  <% include ../partials/footer1.ejs %>
  
  </body>
</html>
